body {
  background-color: aquamarine;
}

h1 {
  padding-top: 100px;
}

#welcome-section {
  height: 100vh;
}

#navbar {
  position: fixed;
  padding-top: 10px;
  background-color: yellowgreen;
  right: 0;
  left: 0;
  top: 0;
  text-align: center;
}
@media screen and (max-width: 980px){
  body {
      background-color: brown;
  }
}